@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot');
  src: local('../fonts/HelveticaNeueCyr-Roman'), url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 15px;
  line-height: 1.53;
  display: inline-block;
  border: 2px solid #00bc65;
  border-radius: 40px;
  padding: 8px 18px;
  transition: all 0.2s linear;
  color: black;
  box-sizing: border-box;
}
.btn:hover {
  background-color: #00bc65;
}
.commonHeader {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
.commonHeader:after {
  content: '';
  display: block;
  width: 73px;
  height: 2px;
  border-bottom: 3px solid #00bc65;
  margin: 6px auto;
}
.container {
  max-width: 1175px;
  margin: 0 auto;
}
.header {
  background-color: #242b33;
}
.header .container {
  max-height: 205px;
  display: flex;
  justify-content: space-between;
}
.header .container .header-left-content {
  padding: 23px 0;
}
.header .container .header-left-content .logo {
  height: 157px;
  width: 157px;
}
.header .container .header-right-content {
  padding-top: 16px;
  width: 977px;
}
.header .container .header-right-content .headerPhone {
  text-align: right;
}
.header .container .header-right-content .headerPhone img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.header .container .header-right-content .headerPhone .phoneNumber {
  color: white;
  display: inline-block;
  padding-top: 13px;
  margin: 0;
  vertical-align: top;
  font-family: 'HelveticaNeueCyr', sans-serif;
}
.header .container .header-right-content .headerNav {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.header .container .header-right-content .headerNav .headerNavItem {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
}
.header .container .header-right-content .headerNav .headerNavItem:hover {
  border-bottom: 2px solid #00bc65;
}
.header .container .header-right-content .headerNav .btn {
  text-transform: none;
  color: white;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 18px;
}
.carRental {
  background-color: #f4f4f4;
}
.carRental .car-rental-header {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 82px;
  margin: 0;
  line-height: 0.83;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
}
.carRental .car-rental-left-content {
  padding-top: 92px;
  width: 675px;
  display: inline-block;
}
.carRental .car-rental-left-content .rentalTab {
  text-align: right;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-decoration: none;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 16px;
  color: black;
  box-sizing: border-box;
  cursor: pointer;
}
.carRental .car-rental-left-content .rentalTab:after {
  content: '';
  display: inline-block;
  height: 100%;
  position: absolute;
  opacity: 0;
  border: 33px solid transparent;
  border-left: 15px solid white;
  box-sizing: border-box;
  margin-left: 48px;
}
.carRental .car-rental-left-content .rentalTab .car-rent-tabs-box {
  text-align: left;
  height: 64px;
  width: 240px;
  display: flex;
  align-items: center;
  padding-right: 80px;
}
.carRental .car-rental-left-content .rentalTab .car-rent-tabs-box .car-rent-tab-ico {
  display: flex;
  align-items: center;
  width: 45px;
  height: 40px;
}
.carRental .car-rental-left-content .rentalTab .car-rent-tabs-box p {
  display: inline-block;
  padding-left: 16px;
}
.carRental .car-rental-left-content .rentalTab:hover {
  background-color: white;
}
.carRental .car-rental-left-content .rentalTab:hover:after {
  opacity: 1;
}
.carRental .car-rental-left-content .rentalTab:hover .car-rent-tabs-box p {
  font-size: 18px;
  color: #00bc65;
}
.carRental .car-rental-right-content {
  padding: 92px 0 92px 80px;
  position: relative;
  width: 1144px;
  background: url("../img/carRentImg1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  vertical-align: top;
  text-align: left;
  margin: 0;
  display: inline-block;
}
.carRental .car-rental-right-content .commonHeader {
  width: 331px;
  display: block;
  text-align: left;
}
.carRental .car-rental-right-content .commonHeader:after {
  margin: 6px 0;
}
.carRental .car-rental-right-content .car-rent-article {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 50px 0 92px 0;
  line-height: 1.53;
  display: block;
  width: 331px;
}
.carRental .car-rental-right-content .btn {
  text-transform: uppercase;
  color: black;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 15px;
  line-height: 1.53;
}
.carRental .car-rental-right-content .btn img {
  width: 14px;
  height: 10px;
  margin: 0;
}
.autoPark .container {
  padding: 85px 0 130px 0;
}
.autoPark .container .autoParkNav {
  margin: 54px 0 30px 0;
  text-align: center;
}
.autoPark .container .autoParkNav .parkNavItem {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 15px;
  line-height: 1.53;
  display: inline-block;
  transition: all 0.2s linear;
  color: black;
  width: 155px;
  height: 42px;
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 11px 0 0 0;
  box-sizing: border-box;
  margin-right: 2px;
  cursor: pointer;
}
.autoPark .container .autoParkNav .parkNavItem:after {
  content: '';
  display: block;
  width: 0;
  opacity: 0;
  border: 10px solid transparent;
  border-top: 8px solid #00bc65;
  margin: 8px auto;
}
.autoPark .container .autoParkNav .parkNavItem:hover {
  background-color: #00bc65;
}
.autoPark .container .autoParkNav .parkNavItem:hover:after {
  opacity: 1;
}
.autoPark .container .autoParkSlideCars {
  display: flex;
  justify-content: space-between;
}
.autoPark .container .autoParkSlideCars .autoParkCars {
  text-align: left;
}
.autoPark .container .autoParkSlideCars .autoParkCars .autopark-cars-hover-container {
  position: relative;
  width: 370px;
  height: 260px;
}
.autoPark .container .autoParkSlideCars .autoParkCars .autopark-cars-hover-container .carHoverText {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'HelveticaNeueCyr', sans-serif;
}
.autoPark .container .autoParkSlideCars .autoParkCars .autopark-cars-hover-container .carHoverText h3 {
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  padding-top: 85px;
  margin: 0;
}
.autoPark .container .autoParkSlideCars .autoParkCars .autopark-cars-hover-container .carHoverText ul {
  margin: 0;
  padding: 0;
}
.autoPark .container .autoParkSlideCars .autoParkCars .autopark-cars-hover-container .carHoverText ul li {
  list-style-type: none;
  font-size: 14px;
  line-height: 0.64;
  padding: 17px 0 0 128px;
}
.autoPark .container .autoParkSlideCars .autoParkCars .autopark-cars-hover-container .carsImg {
  width: 100%;
  height: 100%;
}
.autoPark .container .autoParkSlideCars .autoParkCars:hover .carHoverText {
  opacity: 1;
}
.autoPark .container .autoParkSlideCars .autoParkCars .autopark-cars-bottom-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.autoPark .container .autoParkSlideCars .autoParkCars .autopark-cars-bottom-items p {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 14px;
}
.autoPark .container .autoParkSlideCars .autoParkCars .autopark-cars-bottom-items .greenText {
  color: #00bc65;
  font-size: 24px;
}
.autoPark .container .atoParkDescribing {
  padding-top: 60px;
  text-align: left;
  font-family: 'HelveticaNeueCyr', sans-serif;
  line-height: 1.53;
}
.autoPark .container .atoParkDescribing h3 {
  font-size: 18px;
  font-weight: normal;
}
.autoPark .container .atoParkDescribing p,
.autoPark .container .atoParkDescribing ul {
  font-size: 15px;
}
.onlineCalculator {
  background-color: #f4f4f4;
  text-align: center;
  font-family: 'HelveticaNeueCyr', sans-serif;
}
.onlineCalculator .container {
  padding-top: 74px;
}
.onlineCalculator .container .commonHeader {
  padding-bottom: 40px;
}
.onlineCalculator .container .calc-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.onlineCalculator .container .calc-content .calcLeftContent {
  max-width: 518px;
  text-align: left;
  font-size: 15px;
  line-height: 1.53;
}
.onlineCalculator .container .calc-content .calcLeftContent p:first-child {
  margin-top: 0;
}
.onlineCalculator .container .calc-content .calcRightContent {
  width: 585px;
  background-color: #00bc65;
  box-sizing: border-box;
  text-align: center;
  padding-top: 40px;
  position: relative;
}
.onlineCalculator .container .calc-content .calcRightContent .calc-rightcontent-header {
  font-size: 20px;
  line-height: 1.15;
}
.onlineCalculator .container .calc-content .calcRightContent .calcRightContText {
  font-size: 15px;
  line-height: 1.53;
  margin: 28px 0 2px 0;
}
.onlineCalculator .container .calc-content .calcRightContent input,
.onlineCalculator .container .calc-content .calcRightContent select {
  display: block;
  width: 288px;
  margin: 0 auto;
}
.onlineCalculator .container .calc-content .calcRightContent #calcRange {
  -webkit-appearance: none;
  border-radius: 100px;
  height: 8px;
  background: -webkit-linear-gradient(left, #242b33 0, #242b33 33%, white 33%, white 100%);
  outline: none;
}
.onlineCalculator .container .calc-content .calcRightContent #calcRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  width: 20px;
  height: 20px;
  box-shadow: 0 2px 4px 0 rgba(140, 140, 140, 0.3), 0 -2px 4px 0 rgba(140, 140, 140, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.onlineCalculator .container .calc-content .calcRightContent #calcRange::-moz-range-thumb {
  -moz-appearance: none;
  background: white;
  width: 20px;
  height: 20px;
  box-shadow: 0 2px 4px 0 rgba(140, 140, 140, 0.3), 0 -2px 4px 0 rgba(140, 140, 140, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.onlineCalculator .container .calc-content .calcRightContent select {
  height: 30px;
  border: none;
  border-radius: 4px;
  margin-bottom: 76px;
  font-size: 15px;
}
.onlineCalculator .container .calc-content .calcRightContent p:nth-child(3) {
  padding-right: 68px;
}
.onlineCalculator .container .calc-content .calcRightContent p:nth-child(4) {
  padding-right: 63px;
}
.onlineCalculator .container .calc-content .calcRightContent p:nth-child(5) {
  padding-right: 52px;
}
.onlineCalculator .container .calc-content .calcRightContent .calcNumbPassengers {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  line-height: 1;
  display: inline-block;
}
.onlineCalculator .container .calc-content .calcRightContent #calcSubmit {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 15px;
  line-height: 1.53;
  display: inline-block;
  border: 2px solid #00bc65;
  border-radius: 40px;
  padding: 8px 18px;
  transition: all 0.2s linear;
  box-sizing: border-box;
  width: 259px;
  background-color: #242b33;
  color: white;
  cursor: pointer;
}
.onlineCalculator .container .calc-content .calcRightContent #calcSubmit:hover {
  background-color: white;
  color: #00bc65;
}
.onlineCalculator .container .calc-content .calcRightContent:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 60px;
  background-color: #00bc65;
}
.advantages .container {
  padding: 208px 0 130px 0;
}
.advantages .container .advantagesDescription {
  text-align: center;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 15px;
  line-height: 1.53;
  padding-bottom: 74px;
  max-width: 1162px;
  margin: auto;
}
.advantages .container .advantages-features {
  display: flex;
  justify-content: space-between;
}
.advantages .container .advantages-features .advantagesFeature {
  vertical-align: top;
  max-width: 340px;
  text-align: left;
  font-family: 'HelveticaNeueCyr', sans-serif;
}
.advantages .container .advantages-features .advantagesFeature img {
  width: 76px;
  height: 76px;
  float: left;
}
.advantages .container .advantages-features .advantagesFeature h4 {
  font-size: 18px;
  line-height: 1.1;
  margin: 0;
  font-weight: normal;
  padding-left: 100px;
}
.advantages .container .advantages-features .advantagesFeature ul {
  padding-left: 130px;
  font-size: 15px;
  line-height: 1.73;
}
.transportOrder {
  background-color: #242b33;
}
.transportOrder .container {
  padding: 94px 0 220px 0;
  display: block;
}
.transportOrder .container .commonHeader {
  color: white;
}
.transportOrder .container .order-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.transportOrder .container .order-form .order-block-input {
  position: relative;
  width: 433px;
  height: 40px;
  padding-top: 80px;
}
.transportOrder .container .order-form .order-block-input .client-input-data {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 14px;
  color: gray;
  position: absolute;
  transition: all 0.6s ease;
  top: 0;
  margin: 0;
  padding-top: 75px;
}
.transportOrder .container .order-form .order-block-input:hover .client-input-data {
  padding-top: 55px;
  font-size: 10px;
  color: dimgray;
}
.transportOrder .container .order-form .order-block-input input:focus {
  outline: none;
}
.transportOrder .container .order-form .order-block-input #orderFormName,
.transportOrder .container .order-form .order-block-input #orderFormPhone {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 18px;
  font-family: 'HelveticaNeueCyr', sans-serif;
  background-color: #242b33;
  border-top: none;
  border-right: none;
  border-left: none;
}
.transportOrder .container .order-form #orderSubmit {
  width: 183px;
  text-transform: uppercase;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 15px;
  line-height: 1.53;
  border: 2px solid #00bc65;
  border-radius: 40px;
  padding: 8px 18px;
  transition: all 0.2s linear;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  background-color: transparent;
}
.transportOrder .container .order-form #orderSubmit:hover {
  background-color: #00bc65;
  color: white;
}
.testimonials {
  text-align: center;
  background-color: #f4f4f4;
  padding-top: 139px;
}
.testimonials .container {
  display: flex;
  justify-content: space-between;
}
.testimonials .container .testimonLeftContent {
  max-width: 502px;
  text-align: left;
}
.testimonials .container .testimonLeftContent .commonHeader {
  position: relative;
  text-align: left;
}
.testimonials .container .testimonLeftContent .commonHeader:after {
  position: absolute;
  left: 0;
}
.testimonials .container .testimonLeftContent .testimDescription {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 15px;
  line-height: 1.53;
  padding-top: 70px;
}
.testimonials .container .testimonLeftContent .sliderBtnLeft,
.testimonials .container .testimonLeftContent .sliderBtnRight {
  display: inline-block;
  border: 2px solid #00bc65;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 34px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.testimonials .container .testimonLeftContent .sliderBtnLeft img,
.testimonials .container .testimonLeftContent .sliderBtnRight img {
  margin: 14px;
  width: 14px;
  height: 10px;
}
.testimonials .container .testimonLeftContent .sliderBtnLeft:hover,
.testimonials .container .testimonLeftContent .sliderBtnRight:hover {
  background-color: #00bc65;
}
.testimonials .container .testimonRightContent {
  max-width: 585px;
  background-color: #00bc65;
  box-sizing: border-box;
  position: relative;
}
.testimonials .container .testimonRightContent img {
  margin-top: 36px;
  width: 44.6px;
  height: 37.7px;
}
.testimonials .container .testimonRightContent .testimSlide {
  padding: 0 37px 0 46px;
}
.testimonials .container .testimonRightContent .testimSlide .testimClientName {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 18px;
  line-height: 3;
}
.testimonials .container .testimonRightContent .testimSlide .clientTestimonial {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 15px;
  line-height: 1.53;
}
.testimonials .container .testimonRightContent:after {
  content: '';
  display: block;
  width: 100%;
  height: 58px;
  position: absolute;
  background-color: #00bc65;
}
.rentDescribing .container {
  padding: 200px 0 100px 0;
}
.rentDescribing .container #renDescrContent {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 15px;
  line-height: 1.53;
  text-align: left;
  max-width: 1174px;
}
.rentDescribing .container #renDescrContent h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.1;
}
/*....................................Blog....................................*/
#blog {
  text-align: center;
  background-color: #f4f4f4;
}
#blog .commonHeader {
  padding: 71px 0 35px 0;
}
#blogFirstSection,
#blogSecondSection {
  width: 571px;
  height: 664px;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: 571px 380px;
}
#blogFirstSection {
  background-image: url("../img/blogIMG1.jpg");
}
#blogSecondSection {
  background-image: url("../img/blogIMG2.jpg");
  margin-left: 28px;
}
.blogSecText {
  width: 514px;
  height: 276px;
  background-color: white;
  text-align: left;
  margin: 306px auto 0 auto;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 15px;
  line-height: 1.53;
}
.blogSecText p {
  padding: 20px 43px;
  box-sizing: border-box;
  margin: 0;
}
#blogFirstSecHead,
#blogSecondSecHead {
  color: white;
  font-size: 18px;
  line-height: 1.28;
  display: inline-block;
  width: 257px;
  height: 74px;
  margin: 0;
  background-color: #00bc65;
  text-transform: uppercase;
  box-sizing: border-box;
}
#blogFirstSecHead {
  padding: 27px 0 0 42px;
}
#blogSecondSecHead {
  padding: 15px 0 0 42px;
}
/*....................................Footer....................................*/
footer {
  background-color: #242b33;
  color: white;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 1.14;
  font-weight: 100;
  padding-top: 30px;
}
footer p:nth-child(3) {
  line-height: 1.64;
  margin-left: 130px;
}
footer p:nth-child(4) {
  line-height: 2;
  text-transform: uppercase;
  margin-left: 160px;
}
#footerLogo,
.footerText {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
#footerLogo {
  width: 220px;
}
#footerLogo img {
  width: 90px;
  height: 90px;
  display: block;
  padding-top: 8px;
}
#footerLogo p {
  padding-top: 26px;
}
.footerText {
  width: 200px;
  margin-left: 100px;
}
.footerText :last-child {
  text-transform: uppercase;
}
#socialBar {
  background-color: black;
  display: block;
  padding-top: 20px;
  box-sizing: border-box;
  height: 70px;
}
#socialBar nav,
#socialBar p,
#socialBar img {
  display: inline-block;
  vertical-align: top;
}
#socialBar a img {
  height: 28px;
  width: 28px;
  transition: all 0.2s linear;
}
#socialBar p {
  color: lightgray;
  padding: 0 8px 20px 813px;
}
#socialBar img {
  width: 89px;
  height: 37px;
  padding-right: 10px;
}
/*....................................Media queries....................................*/
/*
@media all and (max-width: 1910px) {
  #carRentalTabs{
    width: 33%;
    .active{
      :after {display: none;}
    }
  }
  .rentalTab{
    padding: 13px 0 13px 30%;
    :after{display: none;}
  }
  .logo{
    padding: 23px 0 25px 10%;
  }
  #advantagesDescription{
    width: 80%;
  }
  #renDescrContent{
    width: 90%;
  }
}

@media all and (max-width: 1502px){
  #carRentalContent{
    width: 59%;
   }
  #carRentalContent {
    .commonHeader {
      width: 80%;
      display: block;
    }
    article {
      width: 80%;
    }
  }
  .carRentImg{
    width: 801px;
    height: 320px;
    top: 541px;
  }
  #sliderBtnLeft, #sliderBtnRight {
    margin-bottom: 20px;
  }
  #footerLogo{
    width: 11%;
    margin-left: 4%;
  }
  .footerText{
    margin: 0 1%;
  }
}
@media all and (max-width: 1353px){
  header{
    .btn{
      margin-top: 35px;
      margin-left: 24%;
    }
  }
  #carRentalContent{
    padding: 80px 0 0 0;
    margin: 0 0 0 10px;
  }
  #orderSubmit{
    margin-top: 108px;
  }
  #socialBar{
    text-align: center;
    height: 200px;
    p{
      display: block;
      padding: 20px 0;
    }
  }
}

@media all and (max-width: 1135px){
  .headerNavItem{
    padding: 0;
    font-size: 15px;
    margin:10px 10px;
    &:after{
      display: none;
    }
  }
  .carRentImg{
    width: 754px;
    height: 301px;
    top: 598px;
  }
  #atoParkDescribing{
    margin: 0 10% 100px 10%;
  }
  #testimonLeftContent{
    text-align: center;
    margin: 0;
    .commonHeader{
      &:after {
        margin: 6px auto;
      }
    }
  }
  footer p:nth-child(3), footer p:nth-child(4){
    margin: 0 5%;
  }
}

@media all and (max-width: 1024px){
  #orderClientName, #orderClientPhone{
    display: block;
    margin-top: -95px;
    margin-left: calc(50% - 28px);
  }
  #orderFormName, #orderFormPhone{
    display: block;
    margin: 40px auto;
  }
  #orderFormName:hover+#orderClientName, #orderFormPhone:hover+#orderClientPhone{
    margin-top: -100px;
  }
  footer p:nth-child(3), footer p:nth-child(4){
    margin: 0 2%;
  }
}

@media all and (max-width: 950px) {
  header {
    text-align: center;
    height: 12%;
    .btn {
      margin: 30px 0 0 0;
    }
    .logo {
      height: 20%;
      width: 20%;
      float: none;
      display: block;
      text-align: center;
      margin: 0 auto;
      padding: 20px 0 0 0;
    }
    #headerPhone {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
  .rentalTab{
    p{font-size: 14px;}
  }
  .carRentImg{
    display: none;
  }
}

@media all and (max-width: 850px){
  .rentalTab{
    p{font-size: 12px;}
  }
  .rentalTab {
    #IntercityIco, #TouristIco, #CorporateIco, #ChildrenIco, #TransferIco, #WeddingIco {
      padding: 0;
      display: block;
    }
  }
  #autoParkNav{
    .active{
      &:after {
        display: none;
      }
    }
  }
  .parkNavItem{
    &:after{
      display: block;
    }
  }
  #calcRightContent{
    width: 90%;
    margin-left: 0;
    padding-left: 24%;
  }
  footer p:nth-child(3), footer p:nth-child(4){
    margin: 0 1%;
  }
  #footerLogo{
    margin-left: 1%;
  }
  .footerText{
    width: 25%;
  }
}

@media all and (max-width: 730px){
  #footerLogo{
    display: block;
    margin: 10px auto;
    p{
      width: 200px;
      margin-left: -70px;
      margin-bottom: 40px;
    }
  }
  .footerText{
    width: 30%;
  }
}

@media all and (max-width: 635px){
  #headerNav{
    padding: 40px 0 0 0;
  }
  #carRental{
    h1{
      font-size: 32px;
    }
  }
  #calcLeftContent{
    width: 80%;
  }
  #calcRightContent{
    padding-left: 20%;
  }
  #testimonLeftContent, #testimonRightContent{
    width: 90%;
  }
  #testimonRightContent {
    padding: 4%;
    margin: 0;
  }
  #blogFirstSection, #blogSecondSection{
    width: 90%;
  }
  .blogSecText{
    width: 86%;
  }
}

@media all and (max-width: 500px){
  header{
    height: 340px;
    .logo{
    width: 100px;
    height: 100px;
  }
  }
  #carRentalContent{
    .commonHeader{
      font-size: 18px;
      width: 40%;
    }
  }
  .rentalTab {
    padding-left: 8%;
  }
  .autoParkCars{
    margin-left: 0;
  }
  #calcRightContent{
    padding-left: 4%;
    h3{
      margin-left: 0;
    }
  }
  #orderFormName, #orderFormPhone{
    width: 90%;
  }
  #testimonRightContent{
    height: 500px;
  }
  #blogFirstSection, #blogSecondSection{
    height:800px;
  }
  .blogSecText{
    height: 400px;
  }
  .footerText{
    font-size: 12px;
  }
}
.wrapper-transportOrder {
  width: 100%;
  background-color: blue;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
}
.h:nth-last-child(1) {
  margin-right: 0;
}
.wrapper-transportOrder .order-block-input {
  display: block;
  float: left;
  max-width: 40%;
}*/
